<div class="body" *ngIf="beforePost">
  <h1 class="header">Welcome to angular Multipart file upload</h1>
  <h2>Below example is based on angular considering backend is springboot</h2>
  <div>
    In this quick how-to tutorial, you'll learn how to work with FormData in
    Angular 10 and TypeScript <br />and how to post it to a web server via a
    POST request and HttpClient.
  </div>
  <div class="Note">
    <i
      >Note: We assume that you have a server running at the
      http://localhost:3000 address with an /upload that accepts POST requests
      for uploading files in your server.</i
    >
  </div>
  <div class="uploadfile">
    <p class="description">Select your XLXS format file to upload</p>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="custom-file fileExcel">
          <input
            type="file"
            name="profile"
            accept=".xlsx"
            #fileUploader
            class="custom-file-input"
            id="importFile"
            (click)="fileUploader.value = null"
            (change)="onFileChange($event.target.files)"
          />

          <label class="custom-file-label" #labelImport for="importFile"
            ><i class="fas fa-search"></i> Choose file</label
          >
        </div>
      </div>
      <div>
        <div class="importBottomButtons">
          <span class="reset" (click)="resetFileUploader()"> Reset </span>
          <button
            mat-button
            matStepperNext
            type="submit"
            class="blue-solid-button pull-right button-buttom"
          >
            post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="onPost">
  <h1><i>Data Posted Successfully!!</i></h1>
  <div class="text">
    below is the sample image of header on successfull post
  </div>
  <img src="../assets/exampleImage.png" class="success" alt="img" />
</div>
